
table {
    width: 100%;
}
table, tr, td {
    border: 1px solid;
    border-radius: 10px;
}
html {
    width: 100%;
}
body {
    border: 1px solid #aff;
    width: 900px;
    margin: 100px auto;
}

input {
    height: 3vh;
    border: solid 1px;
    border-radius: 10px;
}

#loadPhotoFileId {
    border: 1px solid silver;
}

.chillPlaceComponentContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: solid 1px;
    margin: 1vh 0 1vh 0;
    border-radius: 1vh;
    height: 25vh;
    overflow: hidden;
}

.chillPlaceComponentContainer * {
    display: flex;
    flex-direction: row;
}

#chillPlaceComponent_photo {
    display: flex;
    flex-direction: row;
    width: 20%;
    background-color: #aaffff;
}

#chillPlaceComponent_title_keyWords {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 60%;
}

#chillPlaceComponent_title_keyWords * {
    margin-left: 1rem;
}

.row-box form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-content: center;
}

#chillPlaceComponent_contact {
    display: flex;
    flex-direction: column;
    width: 19%;
}

#sign_in_form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 5vh;
    border: dimgray solid 1px;
    margin: auto;
    width: fit-content;
    padding: 2em;
    height: fit-content;
}


#sign_in_form h2 {
    padding: 2vh 0 0 0;
}

#sign_in_form * {
    flex-direction: column;
    margin: auto;
    display: flex;
}

#navigation {
    margin: 1rem;
}
#navigation input {
    margin: 1vh;
}

.signUpContainer {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.signUpContainer * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: fit-content;
}

.signUpContainer h1, h2 {
    margin: 1vh;
}
